@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import './resets.css';
body{
  font-family: 'poppins', sans-serif, Roboto , -apple-system;
  letter-spacing: 2.5px;
}
nav{
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--text-light);
  opacity: .9;
}
.nav-items{
  display: flex;
}
.nav-items li{
  padding: 0 2rem;
}
span{
  color:var(--highlight-color-light);
}
.nav-links{
  position :relative;
  transition: all .3s ease-in;
}
.nav-links:hover{
  color: var(--highlight-color-dark);
}
.nav-links::after{
  content: '';
  height: 5px;
  background-color: var(--highlight-color-light);
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.nav-links:hover::after{
  width: 100%;
  transition: all .5s ease;
}
.cta{
  background-color: var(--highlight-color-light) ;
  color: var(--text-light);
  padding: .5rem 1rem;
  border-radius:4px ;
  transition: all .5s ease;
}

.cta:hover{
  background-color: var(--highlight-color-dark);
}
.mobile-nav{
  height: 50px;
  display: none;
  position: -webkit-sticky;
  top: 0;
}
.hamburger{
  cursor: pointer;
}

.dropdown {
  background-color: var(--dark-bg);
  padding: 1em 0;
  position: absolute;   
  display: none;
  border-radius: 8px;
  top: 50px;
  width: 40%;
  right: 0;
  z-index: 9;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: left;
}
.dropdown li a {
 color: var(--text-light);
}
.hamburger-menu-bar{
  position: relative;
  background: var(--dark-bg);
  display: block;
  height: 3px;
  margin: 0 auto;
  bottom: 20%;
}

.hamburger-menu-bar::before,
.hamburger-menu-bar::after{
    background: var(--dark-bg);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamburger-menu-bar::before{
  /* bottom: 25px; */
  top: 5px;
}
.hamburger-menu-bar::after{
  /* top: -35px; */
  top: -5px;
}
/* responsive  */
@media screen and (max-width: 768px){
  .nav-link_container{
    visibility: hidden;
    display: none;
  }
  .mobile-nav{
    display: block;
    padding: 0 1.5rem;
  }
  .menu{
    height: 30px;
    width: 30px;
    opacity: 0;
  }
  input[type=checkbox]:checked ~ .dropdown{
    display: block;
  }
  /* .hamburger-menu-bar{ */
  /*   background: transparent; */
  /* } */
  .menu:checked ~ .hamburger .hamburger-menu-bar{
    background: transparent;
  }
  .menu:checked ~ .hamburger .hamburger-menu-bar::before{
    transform: rotate(-45deg);
    top:0px;
  }
  .menu:checked ~ .hamburger .hamburger-menu-bar::after{
    transform: rotate(45deg);
    top:0;
  }
}


