@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import './resets.css';
body{
  font-family: 'poppins', sans-serif, Roboto , -apple-system;
  letter-spacing: 2.5px;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  height: 50px;
}
.nav-items{
  display: flex;
}
.nav-items li{
  padding: 0 2rem;
}
span{
  color:var(--highlight-color-light);
}
.nav-links{
  position :relative;
  transition: all .3s ease-in;
}
.nav-links:hover{
  color: red;
}
.nav-links::after{
  content: '';
  height: 5px;
  background-color: var(--highlight-color-light);
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.nav-links:hover::after{
  width: 100%;
  transition: all .5s ease;
}
.cta{
  background-color: var(--highlight-color-light) ;
  color: var(--text-light);
  padding: .5rem 1rem;
  border-radius:4px ;
  transition: all .5s ease;
}

.cta:hover{
  background-color: var(--highlight-color-dark);
}
.hero-img{
  width: 100%;
  height: 100vh;
  background: url(../assets/hero-img.jpg) no-repeat left;
  background-size: cover;
  position: relative;
}
.hero-img::after{
  content: '';
  position: absolute;
  background-color:var(--dark-bg) ;
  width: inherit;
  height: inherit;
  opacity: .6;
}
.hero-text-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text-container h1, h3{
  color: var(--text-light);
}
.hero-text-container h3{
  padding: 0 0 2rem 0;
}
/* responsive  */

@media screen and (max-width: 768px){
  .active{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  .active li{
    padding: 1rem 0;
  }
  nav{
    flex-direction: column;
    padding: 0 5%;
    align-items: center;
    height: 50px;
  }
  .logo{
    align-items: flex-start;
  }
}
